
  
  
  @media screen and (min-width:790px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000; 
      }
  }
  
.navbar-brand {

    font-family: 'Lobster', cursive;
    font-size: 40px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background: #B7DEED;
    background: linear-gradient(to right, #b7e3ed 0%, #71CEEF 25%, #84e2ff 75%, #B7DEED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-link{
    background: #B7DEED;
    background: linear-gradient(to right, #b7e3ed 0%, #71CEEF 25%, #84e2ff 75%, #B7DEED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
@media screen and (max-width:1004px) {
    .nav-link{
        font-size: 20px;
    }
    
}
.form-control1{
    border: none;
    
    border-radius: none;
}
.form-control:hover{
    border-bottom: 3px solid rgb(103, 140, 151);
}
.nav-link:hover{
    font-variant: small-caps;
    background: #99d2d2;
    background: linear-gradient(to right, #080909 0%, #162429 25%, #0c181b 75%, #08161b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
   
    
}
